In [2]:
#import necessary libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report

In [17]:
#import csv file
fraud = pd.read_csv("C:/Users/Computer/Downloads/Fraud_check.csv")

In [18]:
fraud

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [19]:
fraud.describe()

       Taxable.Income  City.Population  Work.Experience
count      600.000000       600.000000       600.000000
mean     55208.375000    108747.368333        15.558333
std      26204.827597     49850.075134         8.842147
min      10003.000000     25779.000000         0.000000
25%      32871.500000     66966.750000         8.000000
50%      55074.500000    106493.500000        15.000000
75%      78611.750000    150114.250000        24.000000
max      99619.000000    199778.000000        30.000000

In [20]:
fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    object
 1   Marital.Status   600 non-null    object
 2   Taxable.Income   600 non-null    int64
 3   City.Population  600 non-null    int64
 4   Work.Experience  600 non-null    int64
 5   Urban            600 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.2+ KB

In [22]:
fraud = fraud.rename(columns={'Undergrad':'Under_Graduate','Marital.Status':'Martial', 'Taxable.Income': 'Taxable_inc','City.Population': 'Population' , 'Work.Experience' : 'Work_Exp'})

In [23]:
fraud

    Under_Graduate   Martial  Taxable_inc  Population  Work_Exp Urban
0               NO    Single        68833       50047        10   YES
1              YES  Divorced        33700      134075        18   YES
2               NO   Married        36925      160205        30   YES
3              YES    Single        50190      193264        15   YES
4               NO   Married        81002       27533        28    NO
..             ...       ...          ...         ...       ...   ...
595            YES  Divorced        76340       39492         7   YES
596            YES  Divorced        69967       55369         2   YES
597             NO  Divorced        47334      154058         0   YES
598            YES   Married        98592      180083        17    NO
599             NO  Divorced        96519      158137        16    NO

[600 rows x 6 columns]

In [24]:
df["Under_Graduate"].value_counts()

YES    312
NO     288
Name: Under_Graduate, dtype: int64

In [25]:
df["Martial"].value_counts()

Single      217
Married     194
Divorced    189
Name: Martial, dtype: int64

In [26]:
df["Urban"].value_counts()

YES    302
NO     298
Name: Urban, dtype: int64

In [12]:
#Lets assume: taxable_income <= 30000 as “Risky=0” and others are “Good=1”

In [28]:
fraud["income"]="<=30000"
fraud.loc[fraud["Taxable_inc"]>=30000,"income"]="Good"
fraud.loc[fraud["Taxable_inc"]<=30000,"income"]="Risky"

In [29]:
fraud["income"].unique()

array(['Good', 'Risky'], dtype=object)

In [30]:
fraud["income"].value_counts()

Good     476
Risky    124
Name: income, dtype: int64

In [32]:
### dropping the Taxable.Income columns
fraud = fraud.drop(['Taxable_inc'],axis=1)

In [33]:
fraud.isnull().sum()

Under_Graduate    0
Martial           0
Population        0
Work_Exp          0
Urban             0
income            0
dtype: int64

In [34]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for column_name in fraud.columns:
    if fraud[column_name].dtype == object:
        fraud[column_name] = le.fit_transform(fraud[column_name])
    else:
        pass

In [35]:
features = fraud.iloc[:,0:5]
labels = pd.DataFrame(fraud.iloc[:,5])

In [36]:
features

     Under_Graduate  Martial  Population  Work_Exp  Urban
0                 0        2       50047        10      1
1                 1        0      134075        18      1
2                 0        1      160205        30      1
3                 1        2      193264        15      1
4                 0        1       27533        28      0
..              ...      ...         ...       ...    ...
595               1        0       39492         7      1
596               1        0       55369         2      1
597               0        0      154058         0      1
598               1        1      180083        17      0
599               0        0      158137        16      0

[600 rows x 5 columns]

In [37]:
labels

     income
0         0
1         0
2         0
3         0
4         0
..      ...
595       0
596       0
597       0
598       0
599       0

[600 rows x 1 columns]

In [38]:
fraud["income"].value_counts()

0    476
1    124
Name: income, dtype: int64

In [39]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features,labels, test_size=0.3, stratify=labels)

In [40]:
print(y_train["income"].value_counts())
print(y_test["income"].value_counts())

0    333
1     87
Name: income, dtype: int64
0    143
1     37
Name: income, dtype: int64

In [41]:
##Converting the column names into the list format
colnames = list(fraud.columns)
predictors = colnames[:5]
target = colnames[5]

In [44]:
colnames

['Under_Graduate', 'Martial', 'Population', 'Work_Exp', 'Urban', 'income']

In [42]:
predictors

['Under_Graduate', 'Martial', 'Population', 'Work_Exp', 'Urban']

In [43]:
target

'income'

In [46]:
fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Under_Graduate  600 non-null    int32
 1   Martial         600 non-null    int32
 2   Population      600 non-null    int64
 3   Work_Exp        600 non-null    int64
 4   Urban           600 non-null    int32
 5   income          600 non-null    int32
dtypes: int32(4), int64(2)
memory usage: 18.9 KB

# Prediction using Decision Tree Classifier

In [47]:
from sklearn.tree import DecisionTreeClassifier as DT

model = DT(criterion = 'entropy')
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [48]:
from sklearn.metrics import accuracy_score

In [50]:
##Prediciton on train data 
pred_train = pd.DataFrame(model.predict(x_train))
pred_train

     0
0    0
1    0
2    0
3    0
4    0
..  ..
415  0
416  0
417  1
418  0
419  0

[420 rows x 1 columns]

In [51]:
### Finding the accuracy of train data
acc_train = accuracy_score(y_train,pred_train)
acc_train

1.0

In [52]:
##Confusion matrix for train data
from sklearn.metrics import confusion_matrix

In [53]:
cm = pd.DataFrame(confusion_matrix(y_train,pred_train))

In [54]:
cm

     0   1
0  333   0
1    0  87

In [56]:
##Prediction on test data
pred_test = pd.DataFrame(model.predict(x_test))
pred_test

     0
0    0
1    0
2    0
3    0
4    0
..  ..
175  0
176  1
177  0
178  0
179  0

[180 rows x 1 columns]

In [58]:
acc_test = accuracy_score(y_test,pred_test)
acc_test

0.6333333333333333

In [59]:
#confusion matrix for test data
cm_test = confusion_matrix(y_test,pred_test)
cm_test

array([[112,  31],
       [ 35,   2]], dtype=int64)

# Prediction Using Random Forest Classifier

In [65]:
##Model building
from sklearn.ensemble import RandomForestClassifier as RF
model = RF(n_jobs = 3,n_estimators = 15, oob_score = True, criterion = "entropy")
model.fit(x_train,y_train)

<ipython-input-65-e539279acb8b>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=15, n_jobs=3,
                       oob_score=True)

In [78]:
model.estimators_
model.classes_
model.n_features_
model.n_classes_

model.n_outputs_

model.oob_score_

0.7166666666666667

In [67]:
##Predictions on train data
prediction = model.predict(x_train)
prediction

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0])

In [69]:
##Accuracy
# For accuracy 
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_train,prediction)
accuracy

0.9880952380952381

In [73]:
##Confusion matrix
from sklearn.metrics import confusion_matrix
confusion = confusion_matrix(y_train,prediction)
confusion

array([[333,   0],
       [  5,  82]], dtype=int64)

In [75]:
##Prediction on test data
pred_test = model.predict(x_test)
pred_test

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0])

In [77]:
##Accuracy
acc_test =accuracy_score(y_test,pred_test)
acc_test

0.7388888888888889